.commentsInput {
  width: 100%;
}
.text {
  padding-top: 20px;
  width: 300px;
  padding-left: 100px;
}
.button { 
  padding-left: 40%;
  padding-bottom: 20px;   
}
.card {
  border: black solid 2px;      
  background-color: rgb(225, 160, 160);    
  border-radius: 10px 10px 10px 10px;
} 
.imageInput {
  padding-left: 20%;
}
