.commentsInput,
.container {
  display: flex;
  flex-direction: row;
}
.leftbar,
.centerbar,
.rightbar {
  width: 33%;
}
.container {
  display: flex;
  flex-direction: row;
}
.loggedin {
  height: 20px;
  width: 20px;
  background-color: green;
  transition: background-color 0.5s;
}
.loggedout {
  height: 20px;
  width: 20px;
  background-color: white;
}
